.DS_Store

.idea
idea
*.sublime‐project
*.sublime‐workspace
.drone.yml
.git
.gitignore
.cache

Dockerfile
docker-compose.yml
docker-compose.*
Makefile

.env
.env.*

*.pem
*.crt
*.key
*.csr

venv
.venv
